@page
@model RegisterModel
<div>
<form method="post">

    <input type="text" placeholder="Enter Name" class="form-control" asp-for="Name"/>
     <input type="text" placeholder="Enter Age" class="form-control"asp-for="Age" />
     <button type="submit" class="btn btn-primary">save</button>
</form>
</div>